$main: #597ee5;
$main-dark: #4267ce;
$second: #2c3e50;
$day: #f7f7f7;
$day-border: #ddd;
$green: #49c16b;
$orange: #FF9800;
$red: #e65656;
$background: #EFECE6;
$background-module: #FAFAFA;


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: $day;
  font-family: sans-serif;
}

li {
  list-style-type: none;
}

.module-title {
  font-size: 1.5em;
  color: $second;
  margin-bottom: 5px;
  text-align: center;
  border-bottom: 2px solid $second;
  padding-bottom: 5px;
}