.bdi-container {
  height: 100%;

  .game-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100% - 80px);

    canvas {
      width: 100%;
      height: auto;
      max-height: 90%;
      border-radius: 8px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      cursor: pointer;
    }
  }
}
