@mixin transition($property: all, $duration: 0.3s, $timing: ease) {
  transition: $property $duration $timing;
}

.cla-calendar {
  height: 500px;
  overflow-y: auto;
  
  &::-webkit-scrollbar {
    width: 8px;
  }
  
  &::-webkit-scrollbar-track {
    background: $background;
    border-radius: 4px;
  }
  
  &::-webkit-scrollbar-thumb {
    background: $main;
    border-radius: 4px;
    
    &:hover {
      background: darken($main, 10%);
    }
  }
}

.events-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-right: 10px;
}

.event-item {
  padding: 15px;
  border-radius: 8px;
  background-color: white;
  
  .event-date {
    font-weight: 500;
    color: $second;
    margin-bottom: 5px;

    .event-time {
      margin-left: 10px;
      color: $main !important;
    }
  }
  
  .event-title {
    font-size: 1.1em;
    font-weight: bold;
  }
}

.torch-tot {
  color: $green;
  font-weight: bold;
}

.torcho {
  color: $red;
  font-weight: bold;
}