.liste-services {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.liste-services li {
  margin: 10px;
  text-align: center;
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}

.liste-services a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #333;
}

.liste-services img {
  width: 50px;
  height: 50px;
  transition: all 0.3s ease;

  &:hover {
    filter: drop-shadow(0 6px 12px rgba(0, 0, 0, 0.2));
    transform: translateY(-2px);
  }
}

.liste-services span {
  font-size: 14px;
  opacity: 0;
  transform: translateY(10px);
  transition: all 0.3s ease;

  .liste-services li:hover & {
    opacity: 1;
    transform: translateY(0);
  }
}